extends layout

block content
  ul
  form(action='/', method='POST')
    div
      input(type='text',placeholder="Nom", name='firstname')
      input(type='text',placeholder="Prénom",name='lastname')
      textarea.banane(type='text', name='commentaire', placeholder="Commentaire",text='text')
      input(type='email', placeholder="Email",name='email', required)
      input(type='submit')
